div {
    position: relative;   
}
h1 {
    margin: 25px auto;
    width: 100%;
    background-color: #E8480D;
    text-align: center;
    font-size: 24px;
    font-family: sans-serif;
    color: #FFF;
}
#rightbutton {
    float: right;
}
#rightbutton, #leftbutton {
    width: 100px;
}
